@font-face {
    font-family: 'Poppins';
    src: url('./../../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

*{
    font-family: "Poppins", sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: rgb(245, 232, 234);
}

#container{
    margin: 10rem auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 70vw;
    min-width: 500px;
    min-height: 400px;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 5rem;
}

#container h1{
    padding: 2rem;
    font-size: 3rem;
}

#container label {
    padding-bottom: 0.5rem;
}

#container input[type="button"]{
    margin-top: 20px;
    width: 10rem;
    min-width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
}

#btnEliminar{
    background-color: black;
    color: white;
}

#btnCancelar{
    color: black;
}

#container select{
    min-width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1rem;
}


p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15rem;
}