@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('./../../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(245, 232, 234);
}

#container{
    margin: 20% auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 90vw;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#container input[type="button"]{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15rem;
}